.x {
    position: relative;
}

.x h1 {
    font-size: 100px;
    color: #33272a;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

.x img {
    width: 100%;
}

body {
    background-color: #ffc6c7;
}

.footer h2 {
    font-size: 40px;
    margin-left: 40px;
}

.footer ul {
    /*ulの並びが横にならない...*/
    display: flex;
    list-style: none;
    text-align: center;
}

.footer li {
    padding:20px 30px 20px 30px;
    list-style: none;
}
.a h3 {
    font-size: 30px;
    text-align: center;
}

.a p {
    text-align: center;
}

.a {
    text-align: center;
}

.b h3 {
    padding-top: 130px;
    font-size: 40px;
}

.b {
    text-align: center;
}

.c h3 {
    padding-top: 130px;
    font-size: 40px;
}

.c {
    text-align: center;
}

.d h3 {
    margin-top: 130px;
    font-size: 40px;
}

.d {
    text-align: center;
}

/* <div class="x">の　◯◯高校体育祭　の背景に写真を入れたい！ */
