h1 {
    color:#f1bbba;
    background-color:#a79c8e;
}
body {
    background-color:#f8ecc9;
}
.header li {
    list-style:none;
    padding:20px 30px 20px 30px;
}
ul {
    display:flex;
}
